<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clock</title>

        <!--Javascript CDN -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>

        <!-- Awesome Font -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link rel="stylesheet" href="./../public/font/awesomefont.css">
        <link rel="stylesheet" href="./../public/css/bootstrap.css">
        <link rel="stylesheet" href="./../public/css/style.css">
    </head>

    <body>
        <div class="container-fluid border-top">
            <div class="row text-light bg-dark">
                <div id="reload" class="col-sm-12 col-md-10 offset-1 d-flex align-items-center flex-column">
                    <h2 class="text-light mt-2"><span id="date"></span></h2>
                    <h2 class="display-2 text-info py-3 px-4"><span id="time"></span></h2>
                    <!-- <p class="text-warning py-3 px-4"><span id="msg"></span></p> -->
                </div>
            </div>
            <div class="container">
                <div class="row p-3">
                    <div class="col-sm-12 col-md-4">
                        <div class="d-flex justify-content-center">
                            <img class="img-fluid m-auto" src="./../public/images/clock.png" alt="clock" srcset="" width="350" height="350">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <h5 class="text-uppercase my-3">Set Alarm</h5>
                        <form class="m-auto p-5">
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <input class="form-control" type="text" id="alarm_label"  placeholder="Alarm label" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <input class="form-control" type="date" id="alarm_date" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">
                                    <input class="form-control" type="time" id="alarm_time" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <div id="alarm_info"></div>
                                    <p id="error" class="text-danger font-weight-bold"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5 mt-2">
                                    <button id="settime" type="button" class="btn btn-success text-uppercase mr-3">Set Alarm</button>
                                    <button id="stopalarm" type="button" class="btn btn-danger text-uppercase">Stop</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="container-fluid">
                <div class="row border-top">
                    <div class="col-sm-12 col-md-8 offset-2 d-flex align-items-center flex-column">
                        <table id="alarms_table" class="table table-hover mt-3">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Label</th>
                                    <th scope="col">Day</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Remaining</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody id="alarms"></tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
        <script>require('../renderer.js');</script>
        <script src="./../public/js/setTime.js"></script>
        <script src="./../public/js/setalarm.js"></script>
        <script src="./../public/js/jquery.js"></script>
    </body>

</html>