@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Crimson Text', serif;
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-size: 16px;
}

#date {
    font-family: 'Quicksand', sans-serif;
}

#time {
    /* font-family: 'Codystar', cursive;
    font-family: 'Quicksand', sans-serif; */
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 8px 3px #010f1f;
    font-weight: bolder;
}

#min {
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 1px 2px #eeecec;
    font-weight: bolder;
}

#stop_clock {
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 1px 2px #eeecec;
    font-weight: bolder;
}

thead {
    font-size: 16px;
}

td {
    font-size: 14px;
}